
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color:#fff;
    
    
}
#header{
    width: 100%;
    height: 100vh;
    background-color: #000;

    background-image: url("portfolio.png");

    
    background-size: 36% auto;

    
    background-position:right 100px center;

    
    background-repeat: no-repeat;
    
    

}
.container{
    padding:10px 10%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width:140px;
    font-size: 2.5rem;
    color:orangered;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-size:17px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width:0;
    height:3px;
    background:#ff004f;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.headerText{
    margin-top:400px;
    color:rgb(201, 217, 225);
    font-size: 20px;
    margin-left:100px;
}
.headerText span{
    color:red;
}

/*About*/
#about{
    padding:80px 0;
    color:#ababab;
}
.row{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;

}
.aboutColumns1{
    flex-basis:35%;
}
.aboutColumns1 img{
    width:100%;
    border-radius: 20px;
}
.aboutColumns2{
    flex-basis:50%;
    gap:30px;
    display: flex;
    flex-direction: column;
}
.tab-titles{
    display: flex;
    margin:20px 0 40px;
    gap:35px;
}
.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width:0;
    height:3px;
    
    background:#ff004f;
    position: absolute;
    left:0;
    bottom:-8px;
    transition: 0.5s;
}
.tab-links.active_link::after{
    width:50%;

}

.tab_content ul li{
    list-style: none;
    margin:10px 0;
}
.tab_content ul li span{
    color:red;
    font-size:14px;
}
.tab_content{
    display:none;
}
.tab_content.active_tab{
    display:block;
}



/*Services Part*/

#services{
    padding:30px 0;
}

.servicesList{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:50px;
    margin-top:50px;
}

.servicesList div{
    background:#1c1b1b;
    padding:40px;
    font-size:14px;
    border-right:10px;
    font-weight: 300;
    box-sizing: border-box;
    border-radius: 10px;
    transition: background 0.5s transform 0.5s;

}

.servicesList div i{
    font-size:50px;
    margin-right:30px;
    color:rgb(123, 116, 63);
    margin-bottom:10px
}
.servicesList div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom:15px;
}
.servicesList div a{
    text-decoration: none;
    color:white;
    font-size: 12px;
    margin-top:20px;
    display:inline-block
}
.servicesList div:hover{
    background-color: #5a5a5e;
    transform: translateY(-20px);
}

/*Portfolio*/

#portfolio{
    padding:50px 0;

}
.workList{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:50px;
    margin-top:50px;

}
.work{
    
    border-radius:10px;
    position:relative;
    overflow:hidden;
    
}
.work img{
    width:100%;
    border-radius:10px;
    display:block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius:10px;
    margin-top:5px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size:14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight:500;
    margin-bottom:20px;
    
}
.layer a{
    margin-top:20px;
    color:#ff004f;
    text-decoration: none;
    font-size:18px;
    line-height:60px;
    background:#fff;
    width:60px;
    height:60px;
    border-radius: 50%;
    text-align: center;

}
.work:hover img{
    transform:scale(1.1) ;
}

.work:hover .layer{
    height:100%;
}
.btn{
    display:block;
    margin: 15px auto;
    width: fit-content;
    border:1px solid #ff004f;
    padding:14px 10px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition:background 0.5s;
    background:#000000;
    font-size:14px;
}
.btn:hover{
    background:#ff004f;

}
/*Contact*/


.contact_left{
    flex-basis: 35%;

}
.contact_right{
    flex-basis:60%;
}
.contact_left p{
    margin-top:24px;
}
.contact_left p i{
    color:#ff004f;
    margin-right:15px;
    font-size:25px;
}
.social_icon{
    margin-top:30px;


}
.social_icon a{
    text-decoration: none;
    font-size:30px;
    margin-right:10px;
    color:#54c268;
    display:inline-block;
    transition:transform 0.5s;
}

.social_icon a:hover{
    color:rgb(59, 103, 103);
    transform: translateY(-10px);
    width:30px;
}

.btn.btn_two{
    display:inline-block;
    color:#e48d8d;
    width:40%;
    text-align: center;
    font-size: 14px;
}

.contact_right form{
    width:100%;

}

form input, form textarea{
    width:100%;
    border:0;
    outline: none; 
    background:#262626;
    padding:15px;
    margin: 15px 0;
    color:#fff;
    font-size: 14px;
    border-radius: 6px;
}
form btn_two{
    padding:14px 16px;
    font-size:14px;
    margin-top:20px;
    cursor:pointer;
}

.copyright{
    width:100%;
    text-align: center;
    padding:25px 0;
    background:#262626;
    font-weight:300;
    margin-top:20px
}
.copyright i{
    color:#ff004f;
}


/* Responsive*/


/*For small Screen*/
nav .fas {
    display:none;
}

@media only screen and (max-width:600px){
    #header{
        background-image: url("portfolio.png");

    }
    .headerText{
        margin-top:100%;
        font-size:13px;
    }
    .headerText h1{
        font-size:12px;
    }
    nav .fas{
        display: block;
        font-size:20px;
    }
    nav ul{
        background:#ff004f;
        position:fixed;
        top:0;
        right:-200px;
        
        width:200px;
        height:120vh;
        padding-top:50px;
        z-index: 2;
        transition:right 0.5s;
    }
    nav ul li{
        display:block;
        margin:25px
    }
    nav ul .fas{
        position: absolute;
        top:25px;
        left:25px;
        cursor:pointer
    }
    .sub-title{
        font-size:40px;

    }
    .aboutColumns1,.aboutColumns2{
        flex-basis:100%;
    }
    .aboutColumns1{
        margin-bottom:30px
    }
    .aboutColumns2{
        font-size:14px;
    }
    .tab-links{
        font-size:16px;
        margin-right:20px;
    }
    .contact_left,.contact_right{
        flex-basis:100%;
    }
    .copyright{
        font-size:14px;
    }
}

span{
    color:#61b752;
    margin-top:-10px;
    display:block;
}